version: '3.8'

services:
  onebox:
    build:
      context: ..
      dockerfile: azl3/Dockerfile
      target: onebox
    privileged: true
    ports:
      - "19080:19080"
      - "19000:19000"
    volumes:
      - /tmp/artifacts/coredumps/onebox:/tmp/artifacts/coredumps # core dumps
  repo:
    build:
      context: ..
      dockerfile: azl3/Dockerfile
      target: repo
      args:
        USERNAME: vscode
        USER_UID: ${USER_UID:-1000}
        USER_GID: ${USER_GID:-1000}
        RUST_VERSION: ${RUST_VERSION:-stable}
    volumes:
      - ../../:/home/vscode/repo # repo dir
      - ~/.ssh:/home/vscode/.ssh:ro # git creds
      - /tmp/artifacts/coredumps/repo:/tmp/artifacts/coredumps # core dumps
    depends_on:
      - onebox
    
  
