name: generate

on: [push, pull_request]

env:
  RUST_VERSION: "1.93.1"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        BUILD_TYPE: ["Debug"]
        os: [ windows-latest ]
    steps:
    - uses: actions/checkout@v6

    - name: Show cmake version
      run: cmake --version

    - name: Install rust stable
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: ${{ env.RUST_VERSION }}
        components: rustfmt, clippy

    - name: cmake configure
      run: > 
        cmake . -DCMAKE_BUILD_TYPE=${{ matrix.BUILD_TYPE }} -B build

    - name: remove generated com code
      run: cmake --build build --config ${{ matrix.BUILD_TYPE }} --target force_clean

    - name: generate rust code
      run: cmake --build build --config ${{ matrix.BUILD_TYPE }} --target generate_rust

    - name: check all generated files are checked in git
      run: git diff --exit-code

    - name: build rust code
      run: cmake --build build --config ${{ matrix.BUILD_TYPE }}

    - name: check crate packaging
      run: cargo package -p mssf-pal -p mssf-com -p mssf-core -p mssf-util --allow-dirty